<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.iu.s1.board.notice.NoticeDAO">
 
 	<update id="update" parameterType="NoticeDTO">
 		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer}
		WHERE NUM=#{num}
 	</update>
 	
 	<delete id="delete" parameterType="NoticeDTO">
 		DELETE NOTICE WHERE NUM=#{num}
 	</delete>
 
 	<insert id="add" parameterType="NoticeDTO">
 		insert into notice (num, writer, title, contents, regDate, hit)
 		values (notice_seq.nextval, #{writer}, #{title}, #{contents}, sysdate, 0)
 	</insert>
 
 	<select id="detail" parameterType="NoticeDTO" resultType="NoticeDTO">
 		select * from notice where num=#{num}
 	</select>
 
 	<select id="list" parameterType="Pager" resultType="NoticeDTO">
 		SELECT * FROM
		(SELECT rownum R, B.* FROM
		(SELECT * FROM NOTICE WHERE NUM>0 AND
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">
			CONTENTS</when>
			<otherwise> WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%' ORDER BY NUM DESC) B)
		WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
 		<select id="total" resultType="LONG">
		SELECT COUNT (NUM) FROM NOTICE
		WHERE NUM>0 AND
		<choose>
			<when test="kind=='col1'">
				TITLE
			</when>
			<when test="kind=='col2'">CONTENTS</when>
			<otherwise> 
			WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</select>
 
 </mapper>  